<div class="container pt-5">

  <div class="col-6 offset-3 mt-lg-5">

    <h2>Password Generator</h2>
    <div class="form-group">
      <label for="enterText">Enter a password Length to be generated.(e.g. 10) </label>
      <input class="form-control" id="enterText"
       (input)="checkPasswordLength($event.target.value)">
    </div>
    <div class="form-group">
      <input type="checkbox" (change)="useNumbers()"> Use Numbers <br>
      <input type="checkbox" (change)="useSymbols()"> Use Symbols<br>
      <input type="checkbox" (change)="useLetters()"> Use Letters
    </div>

    <div class="form-group">
      <label for="result">Your Generated</label>
      <input class="form-control" id="result" [value]="password">
    </div>
    <div  class="form-group">
      <button type="submit" class="btn btn-primary"
              (click)="generatePassword()">Generate Password</button>
    </div>

  </div>
</div>
